@import url('https://fonts.googleapis.com/css?family=Lato:800,700|Nunito:400,700');

* {
  font-family: "Lato", sans-serif;
  margin: 0;
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.Header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 350px;
  width: 100%;
  background: linear-gradient(to right top, #4DA8DA, #A3D9FF);
}

h1 {
  color: whitesmoke;
}

.Task-Input {
  display: flex;
  margin-top: 60px;
  width: 450px;
}

.Task-Content {
  margin-top: 70px;
  width: 500px;
}



